/* RESPONSIVO (media queries) */

/* smartphones estilo paisagem */
@media screen and (min-width: 320px) {
  .navbar span {
    display: none !important;
  }
  .rodape {
    margin-bottom: 30%;
  }
  footer .copyright {
    font-size: 1em;
    text-align: center;
    max-width: 60%;
    position: absolute;
    bottom: 50px;
    left: 170px;
  }
}

@media screen and (min-width: 480px) {
  .navbar span {
    display: none !important;
  }

  footer .copyright {
    width: 80%;
    position: absolute;
    bottom: 40px;
    left: 50px;
  }
}

/* TABLETS EM FORMATO RETRATO */

@media screen and (min-width: 768px) {
  .question h1 {
    font-size: 3.5em;
  }
  .navbar span {
    display: flex !important;
    font-size: 1.3em;
  }
}

/* TABLETS EM FORMATO PAISAGEM E MONITORES*/

@media screen and (min-width: 960px) {
  .menu i {
    font-size: 2em;
  }

  .menu .lupa {
    font-size: 2em;
  }

  .navbar span {
    display: flex !important;
    font-size: 1.5em;
  }

  .question h1 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  .container .abstract {
    display: grid !important;
    grid-template-columns: 40% 40%;
    justify-content: center;
    width: 100%;
    margin: 10% 3%;
  }

  /* CONTAINER DOS CARD */
  .abstract .container-publi {
    width: 90%;
    margin-bottom: 10%;
    margin-inline: 0;
    padding: 0;
  }

  .abstract .container-publi img {
    width: 4.43em;
    height: 4.43em;
    margin-right: 4%;
  }

  .rodape h3 {
    font-size: 1.3em;
  }

  .rodape li {
    font-size: 1.3em;
  }

  .rodape p {
    font-size: 1.3em;
  }

  footer .copyright {
    font-size: 1.3em;
    text-align: center;
    max-width: 60%;
    position: absolute;
    bottom: 50px;
    left: 170px;
  }
}

/* DESKTOPS COM MONITORES MAIORES WIDESCREEN */
@media screen and (min-width: 1200px) {
  nav {
    height: 10vh;
  }

  .menu {
    display: none;
  }

  .btns {
    display: flex;
    padding: 0 10% 0 0;
  }

  .btns .btn {
    border-radius: 20px;
    margin-right: 6%;
    padding: 15px;
    font-size: 2.5em;
  }

  .btns .btn-cadastrar {
    width: 260px;
  }

  .navbar span {
    display: flex !important;
    font-size: 2em;
  }

  .navbar img {
    width: 9em;
  }

  .question {
    width: 100%;
  }

  .question h1 {
    width: 80%;
    font-size: 4em;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  .question form {
    width: 100%;
    position: relative;
  }

  .question form {
    width: 100%;
  }

  .question i {
    width: 35%;
  }

  .question input {
    width: 75%;
    padding: 30px;
  }

  .question input::placeholder {
    font-size: 1.5em;
  }

  .container .abstract {
    display: grid !important;
    grid-template-columns: 40% 40%;
    max-width: 100%;
    justify-content: center;
    margin: 10% 3%;
  }

  /* CONTAINER DOS CARD */
  .abstract .container-publi {
    width: 90%;
    margin-bottom: 10%;
    margin-inline: 0;
    padding: 0;
  }

  .abstract .container-publi img {
    width: 8em;
    height: 8em;
    margin-right: 4%;
  }
  footer {
    position: relative;
    padding: 3% 3% 8%;
    display: grid;
    grid-template-columns: repeat(5, 1.3fr);
    justify-content: start;
    width: 100%;
    background-color: var(--color-nf);
    color: var(--bg-color2-);
  }
  .rodape {
    margin-bottom: 20px;
  }
  .rodape h3 {
    font-size: 1.3em;
  }

  .rodape li {
    font-size: 1.3em;
  }

  .rodape p {
    font-size: 1.3em;
  }

  footer .copyright {
    width: 55%;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 18%;
  }
}
